<%- include("partials/header.ejs") %>
<div class="">
    <div class="message-post-page">
                <form method="POST" action="/delete/<%= message.id %>"> 
                            <button class="delete-button">
                                <span class="delete-button__icon-1"></span>
                                <span class="delete-button__icon-2"></span>
                            </button>  
                </form>
                <a href="/messages/<%= message.id %>" class="post__link">
                            <li class="post__item">
                                <img class="post__item-user-image" src="/images/no-user.jpg" alt="">
                                <p class="post__item-user-name"><%= message.user %>  </p>
                                <p class="post__item-subject-name">      <%= message.subject %></p>
                                <p class="post__item-message-text"><%= message.text %></p>
                                <% if (message.image) { %>
                                <div class="post__image-container">
                                    <img class="post__image-container-background" src="/<%= message.image %>" alt="">
                                    <img class="post__image-container-image" src="/<%= message.image %>" alt="">
                                </div>
                                <% } %>
                            </li>
                </a>
                <div class="">
                    
                                <div>
                                    <form class="comment-form" id="commentForm<%= message.id %>" action="/comment/<%= message.id %>" method="POST">
                                        <!-- <input class="comment-form_input" type="text" name="userComment" placeholder="User Name"> -->
                                        <textarea class="comment-form__text" name="textComment" placeholder="Your Comment" maxlength="300"></textarea>
                                        <button class="small-button" type="submit">Submit</button>
                                    </form>
                                </div>
                            <ul>
                                <h4 class="heading-four">Latest Comments</h4>
                                <% comments
                                .filter(comment => comment.messageId === message.id)
                                .forEach(comment => { %>
                                <li class="comment-item">
                                    <form method="POST" action="/commentDelete/<%= message.id %>"> 
                                        <button class="comment-delete-button">
                                            <span class="comment-delete-button__icon-1"></span>
                                            <span class="comment-delete-button__icon-2"></span>
                                        </button>  
                                    </form>
                                    <img class="comment-item__user-image-small" src="/images/no-user.jpg" alt="">
                                    <p class="comment-item__user"><%= comment.user %></p>
                                    <p class="comment-item__text"><%= comment.text %></p>
                                    
                                </li>
                                <% }); %>
                            </ul>   
                </div>
                        <!-- <div class="">
                            delete form, comment, edit button  
                            <button class="small-button" onclick="const form = document.getElementById('commentForm<%= message.id %>'); form.style.display = (form.style.display === 'none') ? 'none' : 'block';">Comment</button>
                            <button class="small-button" onclick="const form = document.getElementById('editForm<%= message.id %>'); form.style.display = (form.style.display === 'none') ? 'none' : 'block';">Edit</button>
                            
                                </div> -->  
                    </form>
                </li>
            </div>
         
</div>

<%- include("partials/footer.ejs") %>
<script src="/js/index.js"></script>